body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800px;
  text-align: center;
  margin: 50px auto;
}

div {
  max-width: 600px;
  margin: 120px auto;
}

.poem-search {
  background-color: white;
  display: block;
  padding: 30px 30px;
  border-radius: 10px;
  margin-top: -15px;
  margin-bottom: 60px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  display: flex;
}

.search {
  padding: 15px 30px;
  margin-right: 10px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #272044;
  width: 80%;
}

.poem-submit {
  padding: 15px 30px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  border: none;
  background-color: #885df1;
}

.poem-display {
  background-color: white;
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: -25px;
  padding: 20px;
  line-height: 2;
  border-left: 4px solid #885df1;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}

a {
  color: #885df1;
}

footer {
  text-align: center;
  margin-top: 30px;
}
